body {
	background: #181818;
}

table {
	width: 10%;
	margin: 0 auto;
	border: 0px solid;
	border-collapse: collapse;
}

td {
	padding: 10px;
}

#tableborder {
	display: table;
	margin: 0 auto;
	border-radius: 10px;
	border-width: 3px;
	border: 4px solid #03a9f4;
	border-color: #81c784;
}

table.probe {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0px solid #ff0000;
	border-collapse: collapse;
	font-family: "Courier New", Courier, monospace;
}
table.probe td {
	text-align: center;
	padding: 4px;
	font-size: 20px;
}
table.probe td.probe-status {
	font-size: 30px;
	font-weight: bold;
}

div.healthy,
div.broken,
div.unknown {
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	padding: 0px;
}

div.healthy {
	border-color: #81c784;
	background: #66bb6a;
}

div.broken {
	border-color: #ef9a9a;
	background: #e57373;
}

.unknown {
	border-color: #e0e0e0;
	background: #bdbdbd;
}
